.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider .wrapper {
  height: 100vh;
  display: flex;
  transition: transform 1s ease-in-out; /* Smoother transition over 1s */
}

.slider .dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  position: absolute;
  list-style-type: none;
}

.slider .dots-container li {
  display: inline-block;
  padding: 5px;
}

.slider .dots-container li.active button {
  color: rgb(86, 90, 68);
}

.slider .dots-container li button {
  color: #fff;
  background-color: transparent;
  border: none;
}

.slider .dots-container li button span {
  min-height: 30px;
}

.slider .dots-container li button:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.slider .toggle-play {
  background: transparent;
  border: none;
  height: auto;
  position: absolute;
  width: auto;
  right: 5%;
  bottom: 9px;
  color: #3d3d3d;
  z-index: 1000000;
}

.slider .toggle-play:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.slider .each-slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
.slider .slide-content {
  border-radius: 10px;
  max-width: 80%;
}

.slider .slide-content .section-title {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slider .slide-content .caption {
  color: white;
  opacity: 0.8;
  padding: 0 300px;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.slider .slide-content .btn {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid white;
  text-decoration: none;
}

.slider .slide-content .btn:hover {
  background-color: white;
  color: black;
}
