.product-container {
  padding: 20px;
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
}

.product-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  gap: 80px;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.product-grid.expand {
  max-height: 2000px; /* Larger height when expanded */
  transition: max-height 0.5s ease;
}

.product-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product-details {
  padding: 10px;
}

.product-price {
  font-weight: bold;
}

.see-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-btn:hover {
  background-color: #0056b3;
}

.product-name{
  max-height: 100px;
  overflow-y: hidden;
}

/* Cover initial styling */
.cover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: top 0.4s ease; /* Smooth slide up effect */
  color: white;
}

/* On hover, move the cover upwards */
.product-card:hover .cover {
  top: 38%;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: space-between;
  
}

.product-card:hover .product-price,.product-card:hover .product-name{
  color: transparent;
}
