.product-container {
  padding: 20px;
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
  gap: 20px;
  max-height: 400px; /* Adjust this based on product card height */
  overflow: hidden;
  transition: max-height 0.5s ease; /* Smooth transition for expanding */
}

.product-grid.expand {
  max-height: 2000px; /* Larger height when expanded */
  transition: max-height 0.5s ease;
}

.product-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-details {
  padding: 10px;
}

.product-price {
  font-weight: bold;
}

.see-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-btn:hover {
  background-color: #0056b3;
}
